
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Python Tutorial</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<h1>Python Tutorial</h1>
<p>Welcome to our Python tutorial! This tutorial is designed to teach you the basics of Python, one of the most popular programming languages in the world.</p>
<p>To get started, click on one of the links below to learn about a specific topic.</p>
<ul>
<li><a href="/lessons">Lessons</a></li>
<li><a href="/exercises">Exercises</a></li>
<li><a href="/solutions">Solutions</a></li>
</ul>
</body>

</html>

